* {
  
  margin: 0;
  font-family: roboto;

}

.pageLayout{
  background: #FAE1DF;
  height: 100vw;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4%;
  background-color: #1BB145;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}

.footerLeftText{
  padding-top: 0.2%
}
.footerRightIcons{
padding-top: 0.2%;
position: absolute;
right: 2%;
}

.shoppingListTable{
  padding-left: 10%;
  padding-right: 5%;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80vw;
}